@charset "UTF-8";
/* CSS Document */


/*Desktop / Global View*/

body {
	font-family: 'Vollkorn', serif;
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
	background-color: #4ED5A1;
}

.col {
	float: left;
	padding: 1%;
}

.col-lg {
	width: 31.3%;
}

.col-lg img {
	width: 100%;
	height: auto;
	display: block;
}

.slicknav_menu {
	display: none;
	color:#000000
}

.Diana {
	font-family: 'Vollkorn', serif;
	font-size: 40px;
	color:#080808
}
#menu {
	float: right;
	color:#000000
}

#menu li {
	display: inline-block;
	color: #000000
}

#menu li a {
	text-decoration: none;
	color: #000000;
	padding: 8px;
	font-size: 18px;
}

header {
	padding: 14px 20px 20px 20px;
}


.hero {
	background-image: url("images/hero-background.png");
	padding: 180px 20px 20px 20px;
	background-size: cover;
}


.subheading {
	color: #000000;
	font-weight: 800;
	font-size: 400px;
	font-family: 'Vollkorn', serif;
	margin-bottom: -54px;
	padding: 15px 20px 20px 20px
}

h1 {
	color: #000000;
	font-weight: 300;
	font-size: 52px;
	margin-bottom: -5px;
}

.heading-body-copy {
	color: #000000;
	margin-right: 20%;
	padding: 15px;
	font-size: 15px; 
	font-weight: 300;
		
}

.lets-talk {
	background-color: #4ED5A1;
	padding: 8px 30px;
	text-decoration: none;
	color: #000000;
}












/*Tablet View*/

@media (max-width: 768px) {

}

	.col-md {
		width: 48%;
	}
	

body {
	font-family: 'Vollkorn', serif;
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
	background-color: #4ED5A1;
}

.col {
	float: left;
	padding: 1%;
}

.col-lg {
	width: 31.3%;
}

.col-lg img {
	width: 100%;
	height: auto;
	display: block;
}

.slicknav_menu {
	display: none;
}

#menu {
	float: right;
}

#menu li {
	display: inline-block;
}

#menu li a {
	text-decoration: none;
	color: #4e4e4e;
	padding: 8px;
	font-size: 18px;
}

header {
	padding: 14px 20px 20px 20px;
}


.hero {
	background-image: url("images/hero-background.png");
	padding: 80px 20px 20px 20px;
	background-size: cover;
}


.subheading {
	color: #FFFFFF;
	font-weight: 800;
	font-size: 33px;
	margin-bottom: -54px;
	padding: 15px 20px 20px 20px
}

h1 {
	color: #FFFFFF;
	font-weight: 300;
	font-size: 52px;
	margin-bottom: -5px;
}

.heading-body-copy {
	color: #FFFFFF;
	margin-right: 20%;
}

.lets-talk {
	background-color: #4ED5A1;
	padding: 8px 30px;
	text-decoration: none;
	color: #000000;
}











/*Mobile View*/

@media (max-width: 400px) {

	
	.col-sm {
		width: 100%;
	}

	.col {
		padding: 0%;
	}
	
}

body {
	font-family: 'Vollkorn', serif;
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
	background-color: #4ED5A1;
}

.col {
	float: left;
	padding: 1%;
}

.col-lg {
	width: 31.3%;
}

.col-lg img {
	width: 100%;
	height: auto;
	display: block;
}

.slicknav_menu {
	display: none;
}

#menu {
	float: right;
}

#menu li {
	display: inline-block;
}

#menu li a {
	text-decoration: none;
	color: #4e4e4e;
	padding: 8px;
	font-size: 18px;
}

header {
	padding: 14px 20px 20px 20px;
}


.hero {
	background-image: url("images/hero-background.png");
	padding: 180px 20px 20px 20px;
	background-size: cover;
}


.subheading {
	color: #FFFFFF;
	font-weight: 800;
	font-size: 33px;
	margin-bottom: -54px;
	padding: 15px 20px 20px 20px
}

h1 {
	color: #FFFFFF;
	font-weight: 300;
	font-size: 52px;
	margin-bottom: -5px;
}

.heading-body-copy {
	color: #FFFFFF;
	margin-right: 20%;
}

.lets-talk {
	background-color: #4ED5A1;
	padding: 8px 30px;
	text-decoration: none;
	color: #000000;
}
